/* ==========================================================================
   Variables
========================================================================== */


/* ==========================================================================
   Placeholders
========================================================================== */

/* ==========================================================================
   LineGraph Elements
========================================================================== */

/* ==========================================================================
   LineGraph Props
========================================================================== */

/* Default
 ================ */

.chartWrap {
  position: relative;
}

.chart {
  margin-top: 35px;
}

.legend {
  display: flex;
  margin-top: 25px;
  padding-left: 15px;
}

.title {
  color: $c-text-dark;
  font-size: 21px;
}

.error {
  padding-left: 0;
}

.legendItem {
  display: flex;
  margin-right: 10px;
}

.legendSquare {
  display: block;
  height: 15px;
  margin-right: 5px;
  width: 15px;
}
