/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */

/* ==========================================================================
   LineGraph Elements
========================================================================== */

/* ==========================================================================
   LineGraph Props
========================================================================== */

/* Default
 ================ */

.chart {
  margin-top: 35px;
}

.legend {
  display: flex;
  margin-top: 25px;
  padding-left: 15px;
}

.legendItem {
  display: flex;
  margin-right: 10px;
}

.legendSquare {
  display: block;
  height: 15px;
  margin-right: 5px;
  width: 15px;
}
