/* ==========================================================================
   Variables
========================================================================== */
.default {
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 72px;
  width: 30%;
}

.success {
  background-color: $c-primary;
}

.fail {
  background-color: #DE4E4E;
}

.message {
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-left: 15px;
}

.icon {
  background-color: #fff;
  border-radius: 50%;
  color: $c-primary;
  margin-left: 15px;
}

.iconClear {
  background-color: $c-primary;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 15px;
}

/* type error */
.iconError {
  border-radius: 50%;
  color: white;
  margin-left: 15px;
}

.iconCleanError {
  border-radius: 50%;
  color: white;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 15px;
}

.buttonClick {
  background-color: transparent;
  flex-grow: 1;
  padding: 0;

  &:hover {
    background-color: transparent;
    cursor: default;
  }

  &:active {
    box-shadow: none;
  }
}

.positionBottom {
  bottom: 60px;
  display: flex;
  justify-content: center;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
}

.positionTop {
  position: fixed;
  right: 40px;
  top: 190px;
}

.isMobile {
  width: 317px;
}
