/* ==========================================================================
   Variables
========================================================================== */
/* ==========================================================================
   Placeholders
========================================================================== */
$default {
  width: auto;
}

/* ==========================================================================
   InfoCard Elements
========================================================================== */
/* ==========================================================================
   InfoCard Props
========================================================================== */
/* Default
================ */
.default {
  @extend $default;
}

.info {
  colorvar(--c-primary)
  display: block;
  margin-top: 15px;
  font-size: 28px;
}

.ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.symbol {
  font-size: 14px;
  margin-right: 5px;
}

.tagline {
  font-size: 12px;
}

.error {
  padding-left: 0;
}
