/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$default {
  width: auto;
}

/* ==========================================================================
   InfoCard Elements
========================================================================== */

/* ==========================================================================
   InfoCard Props
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}

.info {
  color: $c-primary;
  display: block;
  font-size: 28px;
  margin-top: 15px;
}

.symbol {
  font-size: 14px;
  margin-right: 5px;
}

.tagline {
  font-size: 12px;
}

.error {
  padding-left: 0;
}
