/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   InfoCard Elements
========================================================================== */

/* ==========================================================================
   InfoCard Props
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}
