/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   LinkGenerator Elements
========================================================================== */

.field {
  margin-bottom: 25px;
}

.row {
  padding-top: 15px;
}

/* ==========================================================================
   LinkGenerator Props
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}
