// Default Theme

// Base Colors
$c-primary = #00B8AD;
$c-primary-dark = #03A197;
$c-secondary = #DCDCDC;
$c-support = #2C3B4D;
$c-support-dark = #1A293C;
$c-support-light = #E6EAEC;
$c-support-medium = #b3b3b3;
$c-general-background = #f5f5f5;
// Text Colors
$c-text = #777;
$c-text-dark = #212529;
$c-menu-text = #3F5D79;
// Gray Tones
$white = #fff;
$c-gray-1 = #a9a9a9;
$black = #000;
// High-level base settings.
$base-font-size = 62.5%;
$base-font-family = 'Roboto', sans-serif;
$base-font-size-px = 14px;
$base-title-size-px = 16px;
$base-line-height = 1.2;
$base-link-color = $c-primary;
$base-background-color = #fff;
//Form
$c-active-input = $c-primary;
$c-back-disabled = #eee;
$c-text-disabled = #999;
// othet colors
$c-twitter = #00D0EE;
$c-facebook = #1B4F94;
$c-acom = #EE0020;
$c-suba = #03f;
$c-shop = #FF6914;
$c-soub = #6023CA;

$drop-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}

$c-beacon-color = #de4e4e


// status
$c-success = $c-primary;
$c-warning = #f8ac59;
$c-error = #f44336;
// z-index;
$z-upmax = 999991;
$z-upmin = 99999;

$overlay {
  background: $black;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
  visibility: hidden;
  width: 100%;
  z-index: $z-upmin;

  &.isOpen {
    opacity: 0.6;
    transition: all 0.5s ease;
    visibility: visible;
  }
}
