@import 'config';

// b2wads
// $c-primary = #03A999;
// $c-primary-dark = #008F81;
// $c-secondary = #E8E8E8;
// $c-support = #808080;
// $c-support-dark = #404040;
// $c-menu-text = #FFFFFF;
// $c-back-disabled = #E8E8E8;
// $c-beacon-color = #de4e4e
// $c-text-disabled = #808080;
// $c-active-input = $c-support-dark;

:root {
  --c-primary: $c-primary;
  --c-primary-dark: $c-primary-dark;
  --c-secondary: $c-secondary;
  --c-support: $c-support;
  --c-support-dark: $c-support-dark;
  --c-menu-text: $c-menu-text;
  --c-back-disabled: $c-back-disabled;
  --c-beacon-color: $c-beacon-color;
  --c-text-disabled: $c-text-disabled;
  --c-active-input: $c-support-dark;
}
