@import 'config';

:root {
  /* Base Colors */
  --c-primary: $c-primary;
  --c-primary-light: $c-primary-light;
  --c-primary-dark: $c-primary-dark;
  --c-primary-dark-hover: $c-primary-dark-hover;
  --c-secondary: $c-secondary;
  --c-secondary-light: $c-secondary-light;
  --c-secondary-medium: $c-secondary-medium;
  --c-secondary-dark: $c-secondary-dark;
  --c-support: $c-support;
  --c-support-light: $c-support-light;
  --c-support-dark: $c-support-dark;

  /* Forms */
  --c-active-input: $c-primary;
  --c-back-disabled: $c-back-disabled;
  --c-text-disabled: $c-text-disabled;

  /* Other */
  --c-menu-text: $c-menu-text;
  --c-beacon-color: $c-beacon-color;
}
