{
  "env": {
    "testing": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions", "safari >= 7"]
          }
        }],
        "@babel/preset-react"
      ],
      "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-transform-modules-commonjs",
        ["@babel/plugin-transform-runtime", { "regenerator": true }]
      ]
    },
    "development": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions", "safari >= 7"]
          }
        }],
        "@babel/preset-react"
      ],
      "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        ["@babel/plugin-transform-runtime", { "regenerator": true }]
      ]
    },
    "production": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions", "safari >= 7"]
          }
        }],
        "@babel/preset-react"
      ],
      "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        ["css-modules-transform", {
          "preprocessCss": "./internals/css-modules-transform.js",
          "generateScopedName": "grm-[name]__[local]",
          "extensions": [".styl"],
          "extractCss": "./lib/css/modules/components.css"
        }],
        ["@babel/plugin-transform-runtime", { "regenerator": true }]
      ],
      "ignore": ["./internals/css-modules-transform.js"]
    }
  }
}
