/* ==========================================================================
   Variables
========================================================================== */


/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   Calendar Elements
========================================================================== */

/* ==========================================================================
   Calendar Props
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}
