
$c-input = #333;
$placeholder = #999;
$c-border = #ccc;
$c-label = #999;
$c-text-disabled = #999;

$field {
  border: 0;
  border-bottom: 1px solid $c-border;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: inherit;
  display: block;
  font-size: inherit;
  height: 35px;
  outline: 0;
  text-indent: 5px;
  width: 100%;
}

.wrap {
  position: relative;
}

.input {
  @extend $field;
  cursor: pointer;
  font-size: inherit;
  line-height: 1;
  overflow: hidden;
  padding-right: 15px;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.isPlaceholder {
    color: $placeholder;
  }

  &.isActive {
  }

  &:disabled {
    background: $c-back-disabled;
    border-color: $c-border;
    color: $c-text-disabled;
    cursor: not-allowed;
  }
}

.inputContent {
  padding-left: 5px;
}

.arrow {
  fill: $c-text;
  position: absolute;
  right: 0;
  top: 8px;
  z-index: 1;
}

.calendarIcon {
  color: $c-text;
  margin-top: -2px;
}

.labelWrapper {
  position: relative;
}

.label {
  color: $c-label;
  font-size: 16px;
  font-weight: 400;
  left: 35px;
  line-height: 1;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: all 0.25s ease;

  &.isActive {
    colorvar(--c-primary)
    font-size: 12px;
    font-weight: 700;
    left: 5px;
    top: -1.5rem;
    transition: all 0.125s ease;
  }
}

.calendar {
  opacity: 0;
  position: absolute;
  top: calc(100% - 30px);
  transition: opacity 0.3s ease;
  visibility: hidden;
  z-index: -1;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.isActive {
    opacity: 1;
    transition: opacity 0.3s ease;
    visibility: visible;
    z-index: 1;
  }

  &.isMobile {
    bottom: inherit;
    left: 50%;
    position: fixed;
    right: inherit;
    top: 70px;
    transform: translate(-50%, 0);
    width: auto;
    z-index: $z-upmax;
  }
}

.overlay {
  @extend $overlay;
}
