/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';
$foterSpacing = 5%;

/* ==========================================================================
   Placeholders
========================================================================== */
$section {
  padding-left: 25px;
  padding-right: 25px;
}

$footerSection {
  margin-right: $foterSpacing;

  &:last-child {
    margin-right: 0;
  }
}

$pagerIcon {
  fill: $c-text;

  &.isDisabled {
    fill: darken($c-support-light, 5%);
  }
}

/* ==========================================================================
   TablePanel Elements
========================================================================== */
.wrap {
  position: relative;
}

.loading {
  align-items: center;
  background: $white;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.error {
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 0;
}

.header {
  @extend $section;
  align-items: center;
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  justify-content: space-between;
}

.title {
  color: $c-text-dark;
  font-size: 21px;
}

.footer {
  @extend $section;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  padding-top: 15px;
}

.perpage {
  @extend $footerSection;
  align-items: center;
  display: flex;
}

.showing {
  @extend $footerSection;
}

.nav {
  @extend $footerSection;
}

.pager {
  @extend $pagerIcon;
}

.pagerLeft {
  @extend $pagerIcon;
  margin-right: 15px;
}

.select {
  color: $c-text;
  font-size: 14px;
  width: 150px;
}
