/* ==========================================================================
   Variables
========================================================================== */


/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

$btn {
  margin-left: 5px;
  width: 35px;
  height: 35px;
}

/* ==========================================================================
   EditableValue Elements
========================================================================== */

/* ==========================================================================
   EditableValue Props
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}

.wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.isEditing {
    align-items: end;
  }
}

.edit {
  @extend $btn;
  color: $c-text;

  &:hover {
    background: $c-support-light;
  }
}

.formGroup {
  margin-bottom: 0;
}

.input {
  padding: 0;
  padding-left: 10px;
}

.submit {
  @extend $btn;
}
