/* ==========================================================================
  Variables
  ========================================================================== */

/* Border color
   ========================================================================== */
$border-color = #ccc;

/* Field
   ========================================================================== */
$default-background = #fff;
$default-color = #333;

$disabled = #ccc;
$disabled-color = #999;
$disabled-color-light = #b4b5b5;

/* Addon
   ========================================================================== */
$addon-background-color = #18a689;
$addon-border-color = #18a689;
$addon-color = #fff;

/* ==========================================================================
  Placeholders
  ========================================================================== */

/* Field (text || select || textarea )
========================================================================== */
$field {
  border: 1px solid $border-color;
  display: block;
  height: 36px;
  line-height: 1;
  outline: 0;
  padding: 8px 10px;
  width: 100%;

  &:disabled {
    background: $disabled;
    color: $disabled-color;
  }
}

/* Radio and checkbox
========================================================================== */
$radioCheckbox {
  margin: 3px 0 0;
  width: auto;
}

/* addon
========================================================================== */
$addon {
  background: $addon-background-color;
  border: 1px solid $addon-border-color;
  border-radius: 4px;
  color: $addon-color;
  display: table-cell;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 8px 10px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;

  [class*="button"] {
    margin: -8px -10px;
    padding: 8px 10px;
    outline: none;
  }
 }

/* ==========================================================================
   Form Control Component
   ========================================================================== */

/* Form field
   ========================================================================== */
.form-field {
  @extend $field;

  color: $default-color;
}

.form-field--select {
  @extend $field;

  background: $default-background;
}

.form-field--radio {
  @extend $radioCheckbox;

  background: $default-background;
}

.form-field--checkbox {
  @extend $radioCheckbox;

  background: $default-background;
}

.form-field--textarea {
  @extend $field;

  height: 200px;
}

/* Form addon
   ========================================================================== */
.form-addon { background: none; }

.form-addon--withItens {
  border-collapse: separate;
  display: table;
  position: relative;
  width: 100%;
}

.form-addon-before {
  @extend $addon;

  border-bottom-right-radius: 0;
  border-right: 0;
  border-top-right-radius: 0;
}

.form-addon-after {
  @extend $addon;

  border-bottom-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;
}

.form-addon--disabled {
  background: $disabled;
  border-color: $disabled;
  color: $disabled-color-light;
}

/* Feedback
   ========================================================================== */
.form-feedback {
  display: block;
  height: 34px;
  line-height: 34px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 34px;
  z-index: 2;
}
