/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/config';

/* Color
========================================================================== */

/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   Icon Component
========================================================================== */

/* Default
 ================ */

.icon {
  display: inline-block;
  text-decoration: none;
  user-select: none;
}
