/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* Color
========================================================================== */

/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   Icon Component
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}
