@import "../../styl/config";

/* ==========================================================================
   Variables
   ========================================================================== */

/* Color
========================================================================== */
$header-border-color = #e5e5e5;

$title-color = #676a6c;

$content-background-color = #fff;
$content-border-color = rgba(0, 0, 0, 0.2);
$content-shadow-color = rgba(0, 0, 0, 0.3);


$overlay-background-color = rgba(0, 0, 0, 0.3);


/* ==========================================================================
   Modal Component
   ========================================================================== */
@keyframes show {
  from {opacity: 0;}
  to {opacity: 1;}
}

.overlay {
  animation-duration: 0.3s;
  animation-name: show;
  background-color: $overlay-background-color;
  bottom: 0;
  left: 0;
  overflow: hidden;
  perspective: 1300;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.3s linear;
  z-index: 9999;
}

.content {
  background: $content-background-color;
  border: 1px solid $content-border-color;
  border-radius: 4px;
  box-shadow: 0 5px 10px $content-shadow-color;
  margin: 15% auto;
  min-width: 280px;
  outline: 0;
  overflow: auto;
  position: relative;
  transition: all 0.3s linear;
  width: 60%;
}

.header {
  x-clearfix();
  border-bottom: 1px solid $header-border-color;
  padding: 15px;
  position: relative;
  text-align: left;

  [class*="button"] {
    background: none;
    border: 0;
    outline: none;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.header-title {
  color: $title-color;
  margin-right: 40px;
}

.body {
  padding: 20px 30px 30px;
  text-align: left;
}

.footer {
  border-top: 1px solid $header-border-color;
  padding: 15px;
  text-align: right;
  width: 100%;

  [class*="button"] {
    margin-left: 10px;
  }
}


/* ==========================================================================
   Effects
   ========================================================================== */

/* scaleUp
========================================================================== */
@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scaleUp {
  animation-duration: 0.3s;
  animation-name: scaleUp;
}


/* slideFromRight
========================================================================== */
@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(35%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideFromRight {
  animation-duration: 0.3s;
  animation-name: slideFromRight;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

/* slideFromBottom
========================================================================== */
@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(35%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideFromBottom {
  animation-duration: 0.3s;
  animation-name: slideFromBottom;
}

/* newspaper
========================================================================== */
@keyframes newspaper {
  from {
    opacity: 0;
    transform: scale(0) rotate(720deg);
  }

  to {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.newspaper {
  animation-duration: 0.3s;
  animation-name: newspaper;
  transition: all 0.5s linear;
}


/* fall
========================================================================== */
@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateZ(600px) rotateX(20deg);
    transform-style: preserve-ThreeD;
  }

  to {
    opacity: 1;
    transform: translateZ(0) rotateX(0deg);
    transform-style: preserve-ThreeD;
  }
}

.fall {
  animation-duration: 0.3s;
  animation-name: slideFromBottom;
  transition: all 0.3s ease-in;
}


/* sideFall
========================================================================== */
@keyframes sideFall {
  from {
    opacity: 0;
    transform: translate(30%) translateZ(600px) rotate(10deg);
    transform-style: preserve-ThreeD;
  }

  to {
    opacity: 1;
    transform: translate(0%) translateZ(0) rotate(0deg);
    transform-style: preserve-ThreeD;
  }
}

.sideFall {
  animation-duration: 0.3s;
  animation-name: sideFall;
}

/* flipHorizontalThreeD
========================================================================== */
@keyframes flipHorizontalThreeD {
  from {
    opacity: 0;
    transform: rotateY(-70deg);
    transform-style: preserve-ThreeD;
  }

  to {
    opacity: 1;
    transform: rotateY(0deg);
    transform-style: preserve-ThreeD;
  }
}

.flipHorizontalThreeD {
  animation-duration: 0.3s;
  animation-name: flipHorizontalThreeD;
}

/* flipVerticalThreeD
========================================================================== */
@keyframes flipVerticalThreeD {
  from {
    opacity: 0;
    transform: rotateX(-70deg);
    transform-style: preserve-ThreeD;
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
    transform-style: preserve-ThreeD;
  }
}

.flipVerticalThreeD {
  animation-duration: 0.3s;
  animation-name: flipVerticalThreeD;
}

/* signThreeD
========================================================================== */
@keyframes signThreeD {
  from {
    opacity: 0;
    transform: rotateX(-60deg);
    transform-origin: 50% 0;
    transform-style: preserve-ThreeD;
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: 50% 0;
    transform-style: preserve-ThreeD;
  }
}

.signThreeD {
  animation-duration: 0.3s;
  animation-name: signThreeD;
}

/* superScaled
========================================================================== */
@keyframes superScaled {
  from {
    opacity: 0;
    transform: scale(2);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.superScaled {
  animation-duration: 0.3s;
  animation-name: superScaled;
}

/* rotateFromBottomThreeD
========================================================================== */
@keyframes rotateFromBottomThreeD {
  from {
    opacity: 0;
    transform: translateY(100%) rotateX(90deg);
    transform-origin: 0 100%;
    transform-style: preserve-ThreeD;
  }

  to {
    opacity: 1;
    transform: translateY(0%) rotateX(0deg);
    transform-origin: 0 100%;
    transform-style: preserve-ThreeD;
  }
}

.rotateFromBottomThreeD {
  animation-duration: 0.3s;
  animation-name: rotateFromBottomThreeD;
  transition: all 0.3s ease-out;
}

/* rotateFromLeftThreeD
========================================================================== */
@keyframes rotateFromLeftThreeD {
  from {
    opacity: 0;
    transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    transform-origin: 0 100%;
    transform-style: preserve-ThreeD;
  }

  to {
    opacity: 1;
    transform: translateZ(0) translateX(0%) rotateY(0deg);
    transform-origin: 0 100%;
    transform-style: preserve-ThreeD;
  }
}

.rotateFromLeftThreeD {
  animation-duration: 0.3s;
  animation-name: rotateFromLeftThreeD;
}
