/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$dialog {
  @extend $drop-shadow;
  content: attr(data-ttmessage);
  background: $white;
  height: 0;
  opacity: 0;
  padding: 0;
  visibility: hidden;
  display: none;
  position: absolute;
  width: auto;
  word-wrap: break-word;
  transition: all 1s ease;
  text-shadow: none;
}

$triangle {
  color: $white;
  height: 0;
  opacity: 0;
  padding: 0;
  display: none;
  position: absolute;
  width: auto;
  word-wrap: break-word;
  font-size: 15px;
  text-align: left;
  transition: all 1s ease;
}

/* ==========================================================================
   Tooltip Elements
========================================================================== */

/* ==========================================================================
   Tooltip Props
========================================================================== */

/* Default
 ================ */

.default {
  cursor: pointer;
  position: relative;

  &:hover:before {
    display: block;
    width: inherit;;
    height: auto;
    opacity: 1;
    visibility: visible;
    padding: 7px;
    z-index: 2;
  }

  &:hover:after {
    display: block;
    height: auto;
    opacity: 1;
    z-index: 2;
  }
}

.top:before {
  @extend $dialog;
  bottom: calc(100% + 9px);
  left: 50%;
  transform: translate(-50%, 0);
}

.top:after {
  @extend $triangle;
  content: '▼';
  bottom: calc(100% - 3px);
  left: 50%;
  transform: translate(-50%, 0);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .15);
}

.bottom:before {
  @extend $dialog;
  top: calc(100% + 9px);
  left: 50%;
  transform: translate(-50%, 0);
}

.bottom:after {
  @extend $triangle;
  content: '▲';
  top: calc(100% - 3px);
  left: 50%;
  transform: translate(-50%, 0);
  text-shadow: 0px -1.5px 1px rgba(0, 0, 0, .15);
}


.right:before {
  @extend $dialog;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 7px;
  left: calc(100% + 2px);
}

.right:after {
  @extend $triangle;
  content: '◀';
  top: 50%;
  transform: translate(0, -55%);
  left: 100%;
  text-shadow: -2px 0px 1px rgba(0, 0, 0, .15);
}

.left:before {
  @extend $dialog;
  top: 50%;
  transform: translate(0, -50%);
  right: calc(100% + 9px);
}

.left:after {
  @extend $triangle;
  content: '▶';
  top: 50%;
  transform: translate(0, -55%);
  right: 100%;
  text-shadow: 2px 0px 1px rgba(0, 0, 0, .15);
}

.ico {
  fill: $base-text-color;
}
