/* ==========================================================================
   Variables
========================================================================== */
/* ==========================================================================
   Placeholders
========================================================================== */
$default {
}

/* ==========================================================================
   DragAndDrop Elements
========================================================================== */
/* ==========================================================================
   DragAndDrop Props
========================================================================== */
/* Default
================ */
.default {
  @extend $default;
}
