/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';
$c-text = #a4a3a3;


.menuItem {
  color: $c-text;
  cursor: pointer;

  &.isActive {
    background-color: $c-support;
  }
}

/* Light
================ */



/* Dark
================ */
