/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';
$c-text = #a4a3a3;

/* Default
================ */
.menu { margin: 0; }

.iconLeft {
  fill: $c-text;
  margin-right: 10px;
}

.menuItem {
  color: $c-text;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;

  &.isActive {
    background-color: $c-support;
  }

  & .menu {
    padding: 10px;
  }
}

/* Dark
================ */


/* Accordion Type
 ================ */
.accordionMenu {
  &.closed {
    .menuItem.isActive { width: 290px }
    .menuItem .menu .menuItem { width: 100%; }
  }

  .menuItem .menu {
    padding: 0;
    padding-bottom: 10px;

    & .menuItem {
      padding: 10px 26px 10px 64px;

      &:hover { color: $white; }

      & .menu { padding-bottom: 0; }
    }
  }
}
