/* ==========================================================================
   Variables
========================================================================== */


/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   PieChart Elements
========================================================================== */

/* ==========================================================================
   PieChart Props
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}

.chart {
  height: 220px;
}
