/* ==========================================================================
   Variables
========================================================================== */


/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   PieChart Elements
========================================================================== */

/* ==========================================================================
   PieChart Props
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}

.chartWrap {
  align-items: center;
  display: inline-flex;
}

.chart {
  height: 220px;
}

.legend {
  margin-right: 20px;
}

.legendItem {
  align-items: center;
  display: flex;
  margin-bottom: 7px;
}

.legendColor {
  display: block;
  height: 25px;
  margin-right: 7px;
  width: 25px;
}

.legendText {}
