@import '../../../styl/config';

/* ==========================================================================
Variables
========================================================================== */

/* Border color
========================================================================== */
$c-border = #ccc;
$c-check-border = #7F7F7F;
/* Field
========================================================================== */
$default-background = #fff;
$c-text-default = #333;
/* Addon
========================================================================== */
$c-addon-background = #18a689;
$c-addon-border = $c-border;

/* ==========================================================================
Placeholders
========================================================================== */
/* Field (text || select || textarea )
========================================================================== */
$field {
  border: 0;
  border-bottom: 1px solid $c-border;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  font-size: inherit;
  height: 35px;
  outline: 0;
  padding-top: 3px;
  text-indent: 5px;
  width: 100%;

  &:focus {
    border-color: var(--c-active-input);
  }

  &.isActive {
    border-color: var(--c-active-input);
  }

  &:disabled {
    background: var(--c-back-disabled);
    color: var(--c-text-disabled);
  }

  &:disabled::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--c-text-disabled);
  }

  &:disabled:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--c-text-disabled);
  }

  &:disabled::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--c-text-disabled);
  }
}

/* Radio and checkbox
========================================================================== */
$radioCheckbox {
  align-items: center;
  border: 2px solid $c-check-border;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  transition: all 0.2s ease;
  width: 20px;

  &.isDisabled, &.isDisabled.isActive {
    background:  var(--c-back-disabled);
    border-color: var(--c-text-disabled);
    cursor: not-allowed;

    i {
      color: var(--c-text-disabled);
    }
  }
}

/* addon
========================================================================== */
$addon {
  border: 0;
  bottom: 7px;
  color: var(--c-primary);
  display: block;
  fill: var(--c-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  overflow: hidden;
  padding: 3px 6px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 35px;

  [class*='button'] {
    margin: -6px -10px;
    outline: none;
    padding: 6px 10px;
  }
}

/* ==========================================================================
Form Control Component
========================================================================== */
/* Form field
========================================================================== */
.form-field {
  @extend $field;
  color: $c-text-default;
}

.form-field--outline {
  @extend $field;
  border: 1px solid $c-border;
  border-radius: 3px;
  margin-top: 0;
  padding: 24px 10px 22px;
}

.form-field--select {
  @extend $field;
  background: $default-background;
  border: 0;
  color: $c-text-default;
}

.form-field--radio {
  background: $default-background;

  input[type='radio'] {
    display: none;
  }

  .fakeInput {
    @extend $radioCheckbox;
    border-radius: 50%;
    color: var(--c-support-dark);
  }

  input[type='radio']:checked ~ .fakeInput {
    border-color: var(--c-support-dark);
  }

  input[type='radio']:checked ~ .fakeInput:before {
    background: var(--c-support-dark);
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    transition: all 0.2s ease;
    width: 10px;
  }

  input[type='radio']:disabled {
    &:checked ~ .fakeInput {
      background: var(--c-back-disabled);
      border-color: var(--c-text-disabled);
      cursor: not-allowed;
    }

    &:checked ~ .fakeInput:before {
      background: var(--c-back-disabled);
    }
  }
}

.form-field--checkbox {
  background: $default-background;

  input[type='checkbox'] {
    display: none;
  }

  .fakeInput {
    @extend $radioCheckbox;
    border-radius: 3px;

    &.isActive.isPrimary:not(.isDisabled) {
      background: var(--c-primary);
      border-color: var(--c-primary);
    }

    &.isActive {
      background: var(--c-support-dark);
      border-color: var(--c-support-dark);
      transition: all 0.2s ease;
    }
  }

  .checkIcon {
    color: $white;
    display: none;
  }

  .checkIcon.isChecked {
    display: block;
  }
}

.form-field--textarea {
  @extend $field;
  height: 200px;
}

.form-field--horizontal {
  vertical-align: middle;
  width: 100%;
}

/* Form addon
========================================================================== */
.form-addon {
  background: none;
}

.form-field-wrapper {
  font-size: 16px;
}

.form-addon--withItens {
  border-collapse: separate;
  display: table;
  position: relative;
  width: 100%;
}

.form-addon-before {
  @extend $addon;
  border-bottom-right-radius: 0;
  border-right: 0;
  border-top-right-radius: 0;
  left: 0;

  & ~ .form-field {
    padding-left: 35px;
  }
}

.form-addon-after {
  @extend $addon;
  border-bottom-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;
  right: 0;

  & ~ .form-field {
    padding-right: 35px;
  }
}

.form-addon--disabled {
  background: var(--c-back-disabled);
  border-color: var(--c-back-disabled);
  color: var(--c-text-disabled);
}

.form-addon--horizontal {
  x-column(9);
}

/* Feedback
========================================================================== */
.form-feedback {
  display: block;
  height: 28px;
  line-height: 28px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 28px;
  z-index: 2;
}

/* Checkbox or radio
========================================================================== */
.isCheckboxOrRadio {
  & .form-control {
    float: left;
    margin-right: 5px;
  }
}

/* Validations
========================================================================== */
.has-success {
  &.form-addon, & .form-feedback {
    color: $c-success;
  }

  & .form-addon {
    background: $c-success;
    border-color: $c-success;
  }

  & .form-field, & .form-control {
    border-color: $c-success;
  }
}

.has-warning {
  &.form-addon, & .form-feedback {
    color: $c-warning;
  }

  & .form-addon {
    background: $c-warning;
    border-color: $c-warning;
  }

  & .form-field, & .form-control {
    border-color: $c-warning;
  }
}

.has-error {
  &.form-addon, & .form-feedback {
    color: $c-error;
  }

  & .form-addon {
    background: $c-error;
    border-color: $c-error;
  }

  & .form-field, & .form-control {
    border-color: $c-error;
  }
}
