@import "../../../styl/config";

/* Form Group
   ========================================================================== */
.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-group--withoutTopLabel {
  &.form-group--checkbox,
  &.form-group--radio {
    margin-bottom: 18px;
    margin-top: 30px;
  }
}

/* States
   ========================================================================== */
.has-success { color: $c-success; }
.has-warning { color: $c-warning; }
.has-error { color: $c-error; }
