@import "../../../styl/config";

/* ==========================================================================
  Variables
  ========================================================================== */

/* Color
   ========================================================================== */
$c-label = #333;

/* ==========================================================================
   Form Label Component
   ========================================================================== */
.label {
  color: $c-label;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: 5px;
  max-width: 100%;
  width: 100%;
}

.label-addon { float: right; }

.has-success { color: $c-success; }
.has-warning { color: $c-warning; }
.has-error { color: $c-error; }
