.form-group-actions {
  text-align: right;

  [class*="button"] {
    margin-left: 10px;
    padding: 8px 25px;
  }
  [class*="block"] { margin-left: 0; }
}

.form-group-actions--horizontal {
  x-column(9, 3);
}
