@import "../../../styl/config";

/* ==========================================================================
  Variables
  ========================================================================== */
$success = #1ab394;
$success-light = #dff0d8;
$warning = #f8ac59;
$warning-light = #fcf8e3;
$error = #f44336;
$error-light = #f2dede;

/* Border color
   ========================================================================== */
$border-color = #ccc;

/* Field
   ========================================================================== */
$default-background = #fff;
$default-color = #333;

$disabled = #ccc;
$disabled-color = #999;
$disabled-color-light = #b4b5b5;

/* Addon
   ========================================================================== */
$addon-background-color = #18a689;
$addon-border-color = #18a689;
$addon-color = #fff;

/* ==========================================================================
  Placeholders
  ========================================================================== */

/* Field (text || select || textarea )
========================================================================== */
$field {
  border: none;
  border-bottom: 1px solid $border-color;
  display: block;
  font-size: 16px;
  height: 28px;
  line-height: 1;
  outline: 0;
  padding: 6px;
  width: 100%;

  &:focus {
    border-color: $c-primary;
  }

  &:disabled {
    background: $disabled;
    color: $disabled-color;
  }
}

/* Radio and checkbox
========================================================================== */
$radioCheckbox {
  margin: 3px 0 0;
  width: auto;
}

/* addon
========================================================================== */
$addon {
  background: $addon-background-color;
  border: none;
  border-bottom: 1px solid $addon-border-color;
  color: $addon-color;
  display: table-cell;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 3px 6px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;

  [class*="button"] {
    margin: -6px -10px;
    padding: 6px 10px;
    outline: none;
  }
 }

/* ==========================================================================
   Form Control Component
   ========================================================================== */

/* Form field
   ========================================================================== */
.form-field {
  @extend $field;

  color: $default-color;
}

.form-field--select {
  @extend $field;

  background: $default-background;
}

.form-field--radio {
  @extend $radioCheckbox;

  background: $default-background;
}

.form-field--checkbox {
  @extend $radioCheckbox;

  background: $default-background;
}

.form-field--textarea {
  @extend $field;

  height: 200px;
}

.form-field--horizontal {
  vertical-align: middle;
  width: 100%;
}

/* Form addon
   ========================================================================== */
.form-addon { background: none; }

.form-addon--withItens {
  border-collapse: separate;
  display: table;
  position: relative;
  width: 100%;
}

.form-addon-before {
  @extend $addon;

  border-bottom-right-radius: 0;
  border-right: 0;
  border-top-right-radius: 0;
}

.form-addon-after {
  @extend $addon;

  border-bottom-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;
}

.form-addon--disabled {
  background: $disabled;
  border-color: $disabled;
  color: $disabled-color-light;
}

.form-addon--horizontal {
  x-column(9);
}

/* Feedback
   ========================================================================== */
.form-feedback {
  display: block;
  height: 28px;
  line-height: 28px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 28px;
  z-index: 2;
}


.has-success {
  &.form-addon,
  & .form-feedback {
    color: $success;
  }

  & .form-feedback { fill: $success; }
  & .form-addon {
    background: $success-light;
    border-color: $success;
  }

  & .form-field,
  & .form-control { border-color: $success; }
}

.has-warning {
  &.form-addon,
  & .form-feedback {
    color: $warning;
  }

  & .form-feedback { fill: $warning; }
  & .form-addon {
    background: $warning-light;
    border-color: $warning;
  }

  & .form-field,
  & .form-control { border-color: $warning; }
}

.has-error {
  &.form-addon,
  & .form-feedback {
    color: $error;
  }

  & .form-feedback { fill: $error; }
  & .form-addon {
    background: $error-light;
    border-color: $error;
  }

  & .form-field,
  & .form-control { border-color: $error; }
}
