/* ==========================================================================
Variables
========================================================================== */
/* Color
========================================================================== */
$c-label = #999;
$c-default = #333;

/* ==========================================================================
Form Label Component
========================================================================== */
.labelWrapper {
  position: relative;
}

.label {
  color: $c-label;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  line-height: 1;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: all 0.25s ease;
}

.isActive {
  color: $c-form;
  font-size: 12px;
  left: 0;
  top: -1.5rem;
  transition: all 0.125s ease;
}

.formControl {
  color: $c-default;
  font-size: 16px;
  margin-top: 5px;
}

.has-success.label {
  color: $c-success;
}

.has-warning.label {
  color: $c-warning;
}

.has-error.label {
  color: $c-error;
}

.isOutline {
  padding-left: 10px;
  top: 17px;
}

.isActive.isOutline {
  background: $white;
  left: 5px;
  padding: 0 5px;
  top: -6px;
  width: auto;
}

.has-iconRight {
  label, input {
    padding-right: 35px;
  }
}

.has-iconLeft {
  label, input {
    padding-left: 35px;
  }
}

.iconRight, .iconLeft {
  pointer-events: none;
  position: absolute;
  top: 16px;
}

.iconRight {
  right: 12px;
}

.iconLeft {
  left: 12px;
}

.isClickable {
  cursor: pointer;
  pointer-events: auto;
}
