/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$c-activeDot = #767676;
$c-arrow = #A8A7A8;

$arrowBtn {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;

  svg {
    fill: $c-arrow;
  }

  &:hover {}

  &:active {}

  &:focus {
    outline: 0;
  }
}

/* ==========================================================================
   Slider Elements
========================================================================== */

/* ==========================================================================
   Slider Props
========================================================================== */

/* Default
 ================ */
.wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}

.content {
  position: relative;
  padding: 0 25px;
}

.slide {}

.currentSlide {
  &.next {
    animation: slideleft 0.5s forwards;
  }

  &.prev {
    animation: slideright 0.5s forwards;
  }
}

@keyframes slideleft {
  0% { transform: translateX(50%); }
  100% { transform: translateX(0%); }
}

@keyframes slideright {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.arrow {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.arrowLeft {
  @extend $arrowBtn;
  left: -7px;
}

.arrowRight {
  @extend $arrowBtn;
  right: -7px;
}

.dots {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin-bottom: 0;
  padding: 7px 0;
  position: absolute;
  width: 100%;

  &.hasDotsBackground {
    background: rgba(255, 255, 255, 0.4);
  }
}

.dotsBtn {
  background: $white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  height: 13px;
  margin-right: 8px;
  width: 13px;

  &:last-child {
    margin: 0;
  }

  &.isActive {
    background: $c-activeDot;
  }
}
