/* ==========================================================================
   Variables
========================================================================== */

/* ==========================================================================
   Placeholders
========================================================================== */
$c-header = #4A4A4A;

/* ==========================================================================
   SelectPopover Elements
========================================================================== */

.selectPopoverContent {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 245px;

  p {
    font-weight: bold;
  }

  & > * {
    user-select: none;
  }
}

.selectPopoverHeader {
  display: flex;
  align-items: center;
  height: 70px;
  position: relative;
  padding: 24px;
  color: $c-header;

  > h2 {
    font-size: 20px;
    line-height: 26px;
  }

  &:after {
    background-color: #E0E0E0;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.selectDeselectAll {
  cursor: pointer;
  margin-bottom: 8px;
  text-decoration: underline;
}

.form {
  margin-top: 4px;
}

.formItem {
  display: block;
  margin-bottom: 8px;
}

.formActions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 16px;
}

.checkbox {
  display: inline-block;
}

.checkboxLabel {
  margin-left: 10px;
}
