/* ==========================================================================
   Variables
========================================================================== */

$c-grey = #797979;
$c-bg-grey = #e0e0e0;

/* ==========================================================================
   Placeholders
========================================================================== */

input[type="file"]{
  opacity: 0;
  position: absolute;
}

.tags{
  font-size: 12px;
  box-sizing: border-box;
  line-height: 1.4em;
  border-radius: 2px;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 5px 20px;
  background: $c-bg-grey;
  color: $c-grey;
  border: none;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 10px;
  svg{
    fill: $c-grey;
    cursor: pointer;
  }
}

.holdTags{
  margin-top: 10px;
}