/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   Popover Elements
========================================================================== */

.popoverContainer {
  position: relative;
  display: inline-block;
}

.popover {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFF;
  border: 1px solid lightgrey;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* ==========================================================================
   Popover Props
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}


