/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   Popover Elements
========================================================================== */

.popoverContainer {
  position: relative;
  display: inline-block;
}

.popover {
  @extend $drop-shadow;
  position: absolute;
  background-color: #FFF;
  border: 1px solid lightgrey;
  z-index: 5;
}

/* ==========================================================================
   Popover Props
========================================================================== */

.bottomRight {
  top: 100%;
  left: 0;
}

.bottomLeft {
  top: 100%;
  right: 0;
}

.topRight {
  bottom: 100%;
  left: 0;
}

.topLeft {
  bottom: 100%;
  right: 0;
}

/* Default
 ================ */

.default {
  @extend $default;
}


