/* ==========================================================================
  Variables
  ========================================================================== */

/* Colors
   ========================================================================== */
$border-color = #ddd;

/* ==========================================================================
 Image
 ========================================================================== */
figure {
  text-align: left;

  &.center { text-align: center; }
  &.right { text-align: right; }
}

img { vertical-align: middle; }

.small {
  height: 32px;
  width: 32px;
}

.medium {
  height: 64px;
  width: 64px;
}

.large {
  height: 96px;
  width: 96px;
}

.circle { border-radius: 50%; }

.rounded { border-radius: 6px; }

.thumbnail {
  border: 1px solid $border-color;
  border-radius: 4px;
  line-height: 1.42857143;
  padding: 4px;
}
