/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$modal {
  background: $white;
  border-radius: 2px;
  left: 50%;
  min-width: 300px;
  opacity: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  visibility: hidden;
  z-index: $z-upmax;

  &.isOpen {
    opacity: 1;
    transition: all 0.5s ease;
    visibility: visible;
  }
}

/* ==========================================================================
   Modal Elements
========================================================================== */

.wrap {}

.modal {
  @extend $modal;
}

.close {
  cursor: pointer;
  fill: $c-text;
  position: absolute;
  right: 15px;
  top: 15px;
}

.content {
  padding: 30px;
}

.base {
  padding: 0 25px;
  text-align: center;
}

.imageWrap {}

.message {
  color: $c-text-dark;
  font-size: 16px;
  margin: 15px 0 20px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 15px;

  .button:first-child {
    margin-right: 5px;
  }

  .button:last-child {
    margin-left: 5px;
  }
}

.actions.isReverse {
  flex-direction: row-reverse;

  .button:first-child {
    margin-left: 5px;
  }

  .button:last-child {
    margin-right: 5px;
  }
}

.overlay {
  @extend $overlay;
}

