.beacon {
  display: block;
  position: relative;
  background-color: var(--c-beacon-color);
  height: 0.7em;
  width: 0.7em;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);

  &:before {
    position: absolute;
    content: '';
    height: 0.7em;
    width: 0.7em;
    left: 0;
    top: 0;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px $c-beacon-color;
    -webkit-animation: active 2s infinite linear;
    animation: active 2s infinite linear;
  }
}

@keyframes active {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 1;
  }

  70% {
    -webkit-transform: scale(2.5);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes active {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }

  70% {
    transform: scale(2.5);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
