/* ==========================================================================
   Variables
========================================================================== */
$gutter-px = 8px;
$hot = #FF5567;

/* ==========================================================================
   Placeholders
========================================================================== */
$social-ico {
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

$default-product {
  min-width: 220px;
  position: relative;

  a {
    color: $c-text;
    text-decoration: none;
  }
}

$img {
  display: block;
  height: 150px;
  margin: 0 auto;
  width: auto;
}

$brandHeader {
  align-items: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: flex;
  font-size: 0;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 15px 0;
}

$brandLogo {
  fill: $white;
  width: auto;
}

/* ==========================================================================
   Product Elements
========================================================================== */
.wrapper {
  position: relative;
}

.tag {
  left: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 1;
}

.tagHighlight {
  fill: $hot;
  position: absolute;
  right: 15px;
}

.imgWrapper {
  margin-top: $gutter-px;
}

.imgCustom {
  @extend $img;
}

.imgDefault {
  @extend $img;
  padding: 30px;
}

.name {
  display: -webkit-box;
  font-size: 14px;
  height: 33px;
  margin-top: $gutter-px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  &.isShort {
    align-items: center;
    display: flex;
    justify-content: left;
  }
}

.rules {
  color: $c-text;
  display: inline-block;
  font-size: 11px;
  margin-left: 4px;
  vertical-align: middle;
}

.rulesIcon {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: $c-text;
  display: flex;
  height: 17px;
  justify-content: center;
  padding: 2px;
  vertical-align: middle;
  width: 17px;
}

.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.expires {
  font-size: 12px;
  margin-top: $gutter-px;
}

.social {
  margin-top: $gutter-px;
  padding-bottom: 2px;
}

.copy {
  margin-right: 10px;
  transition: all 0.3s ease;

  @media screen and (max-width: 1375px) {
    i {
      display: none;
    }
  }
}

.copyIcon {
  margin-left: 5px;
}

.iconRight {
  margin-left: 5px;
}

.facebook {
  @extend $social-ico;
  fill: $c-facebook;
}

.twitter {
  @extend $social-ico;
  fill: $c-twitter;
}

/* ==========================================================================
   Product Props
========================================================================== */
/* Default
================ */
.default {
  @extend $default-product;

  .info {
    display: flex;
    align-items: center;
    margin-top: $gutter-px;
  }

  .info a {
    color: $c-text-dark;
    font-size: 21px;
    font-weight: 400;
  }

  &.wrapper {
    height: 300px;
  }

  .social {
    display: flex;
    align-items: center;
  }
}

/* Card
================ */
.card {
  @extend $default-product;
  text-align: center;
  padding: 0 10px;

  &.wrapper {
    height: 320px;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
  }

  .info a {
    color: var(--c-primary);
    font-size: 21px;
    text-align: center;
  }

  .isShort {
    justify-content: center;
  }

  .footer {
    bottom: 20px;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.info.isBig {
  font-size: 16px;
}

/* Brand Header
================ */
.acom {
  @extend $brandHeader;
  background: $c-acom;

  .brandLogo {
    @extend $brandLogo;
    height: 22px;
  }
}

.suba {
  @extend $brandHeader;
  background: $c-suba;

  .brandLogo {
    @extend $brandLogo;
    height: 35px;
    margin-top: -5px;
  }
}

.shop {
  @extend $brandHeader;
  background: $c-shop;

  .brandLogo {
    @extend $brandLogo;
    height: 30px;
    stroke: $white;
  }
}

.soub {
  @extend $brandHeader;
  background: $c-soub;

  .brandLogo {
    @extend $brandLogo;
    height: 35px;
  }
}
