/* ==========================================================================
   Variables
========================================================================== */


/* ==========================================================================
   Placeholders
========================================================================== */
$headerItem {
  font-size: 14px;
}

$spacing = 20px;

/* ==========================================================================
   Header Elements
========================================================================== */

.header {
  align-items: center;
  background: var(--c-primary);
  display: flex;
  height: 74px;
  justify-content: flex-end;
  padding: 0 $spacing;
  position: relative;
  width: 100%;
  color: $white;

  &.showLogo {
    background-color: var(--c-support-dark);
  }
}

.content.showLogo {
  position: absolute;
  right: $spacing;
}

.logo {
  display: block;
  margin: 0 auto;
}

/* ==========================================================================
   Header Props
========================================================================== */


