/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$headerItem {
  font-size: 14px;
}

/* ==========================================================================
   Header Elements
========================================================================== */

.header {
  align-items: center;
  background: $c-primary;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  padding: 0 20px;
  width: 100%;
}

/* ==========================================================================
   Header Props
========================================================================== */

/* headerItem
 ================ */

.headerUser {
  @extend $headerItem;
  text-align: left;

  .iconLeft {
    margin-right: 5px;
  }

  .iconRight {
    margin-left: 2px;
  }
}

.headerLogout {
  @extend $headerItem;

  .iconRight {
    margin-left: 5px;
  }
}


