/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';
$c-text = #a4a3a3;

/* Default
 ================ */
.iconLeft {
  fill: $c-text;
  margin-right: 10px;
}

.iconRight {
  fill: $c-text;
  float: right;
}

.title {
  clear: both;
  color: $c-text;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.2;
}

.content {
  color: $c-text;
  display: none;
  font-size: 14px;
  padding: 10px;

  &.isActive { display: block; }
}

/* Dark Theme
 ================ */
.dark {
  .title {
    &:hover,
    &.isActive {
      color: $white;

      .iconLeft, .iconRight { fill: $white; }
    }
  }

  .content {
    color: $white;
  }
}

/* Menu Type
 ================ */
.accordionMenu {
  .title {
    border-left: 2px solid transparent;
    padding: 15px 26px 15px 24px;

    &:hover,
    &.isActive {
      border-left-color: $c-primary-dark;
    }
  }

  .iconLeft { margin-right: 22px }

  .content { padding: 0; }
}

/* Closed
 ================ */
.closed {
  .iconLeft { margin-right: 0 }

  .title {
    font-size: 0;

    &.isActive {
      font-size: initial;

      .iconLeft { margin-right: 22px }
    }
  }
}
