/* ==========================================================================
   Variables
========================================================================== */


$wrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;

  &.isWhite {
    background: rgba(255, 255, 255, 0.8);
  }

  &.isBlack {
    background: rgba(0, 0, 0, 0.6);
  }
}

/* ==========================================================================
   Loader Elements
========================================================================== */

.wrap {
  display: inline-block;

  &.isFull {
    @extend $wrap;
    position: absolute;
  }

  &.isFullPage {
    @extend $wrap;
    position: fixed;
  }
}

.spinner {
  animation: spinner 0.6s linear infinite;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
}

.primary {
  border: 3px solid var(--c-secondary);
  border-top-color: var(--c-primary);
}

.secondary {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top-color: $white;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
