/* ==========================================================================
   Variables
========================================================================== */
/* ==========================================================================
   Placeholders
========================================================================== */
$icon {
  color: var(--c-support);
  margin: 0 2px;
}

$item {
  color: var(--c-primary);
  cursor: pointer;
  font-size: 13px;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

/* ==========================================================================
   Breadcrumb Elements
========================================================================== */
.list {
  align-items: center;
  display: flex;
}

.icon {
  @extend $icon;
}

.iconHome {
  @extend $icon;
  margin-left: 0;
  margin-right: 5px;
  margin-top: -1px;
}

.itemWrap {
  align-items: center;
  display: flex;
}

.item {
  @extend $item;
}

.itemCurrent {
  @extend $item;
  color: var(--c-support);
  cursor: inherit;
}

/* ==========================================================================
   Breadcrumb Props
========================================================================== */
/* Default
================ */
