@import "../../styl/config";

.form { outline: 0; }

.horizontal {
  [class*="form-group"] {
    x-clearfix();

    max-width: 100%;
  }

  [class*="label"] {
    x-column(3);

    margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
  }

  [class*="form-addon"] {
    x-column(9);
  }
  [class*="form-group-actions"] {
    x-column(9, 3);
  }
}

.inline {
  [class*="form-group"] {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  [class*="form-field"] {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }
}
