/* ==========================================================================
   Form Component
   ========================================================================== */
.form { outline: 0; }

.horizontal { outline: 0; }

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@import "./elements/form-group.styl"
@import "./elements/form-control.styl"
@import "./elements/form-label.styl"
@import "./elements/form-actions.styl"
@import "./elements/form-control-label.styl"
@import "./elements/form-help-text.styl"
