@import "../../styl/config";

/* ==========================================================================
   Form Component
   ========================================================================== */
.form { outline: 0; }

.horizontal { outline: 0; }

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
