/* ==========================================================================
   Variables
========================================================================== */


$c-divisor = #DFDFDF;

/* ==========================================================================
   Placeholders
========================================================================== */
$table {
  width: 100%;
}

$row {
  border-bottom: 1px solid $c-divisor;

  &.isSelected {
    background: $c-secondary;
  }
}

$cell {
  padding: 10px 15px;
  word-wrap: break-word;

  &:first-child {
    padding-left: 25px;
  }

  &:last-child {
    padding-right: 25px;
  }
}

/* ==========================================================================
   Table Elements
========================================================================== */
.wrap {
  overflow: unset;
  position: static;

  &.isScrollY {
   overflow-y: scroll;
  }

  &.isScrollX {
   overflow-x: scroll;
  }
}

.table {
  @extend $table;
  table-layout: auto;

  &.isFixed {
    table-layout: fixed;
  }
}

.row {
  @extend $row;
}

.rowHead {
  @extend $row;

  &.isSticky {
    border-bottom: unset;
  }
}

.cell {
  @extend $cell;
  font-size:$base-font-size-px;
}

.cellHead {
  @extend $cell;
  font-size: $base-font-size-px;
  font-weight: bold;

  &.isSticky {
    background-color: white;
    box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.17);
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

/* ==========================================================================
   Type
========================================================================== */
.panel {
  .row {
    @extend $row;

    &:last-child {
      border: 0;
    }
  }
}
