/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$table {
  width: 100%;
}

$row {
  border-bottom: 1px solid $c-secondary;
}

$cell {
  padding: 12px;
  width: 200px;
}

/* ==========================================================================
   Table Elements
========================================================================== */

.table {
  @extend $table;
}

.row {
  @extend $row;
}

.rowHead {
  @extend $row;
}

.cell {
  @extend $cell;
}

.cellHead {
  @extend $cell;
  font-weight: bold;
}
