/* ==========================================================================
   Variables
   ========================================================================== */

/* Theme
 ========================================================================== */
$default = #fff;
$default-hover = darken($default, 10%);

$primary = #1ab394;
$primary-hover = darken($primary, 10%);

$success = #1c84c6;
$success-hover = darken($success, 10%);

$info = #23c6c8;
$info-hover = darken($info, 10%);

$warning = #f8ac59;
$warning-hover = darken($warning, 10%);

$danger = #ed5565;
$danger-hover = darken($danger, 10%);

$undo = #c2c2c2;
$undo-hover = darken($undo, 10%);

$disabled = #ccc;

/* Color
 ========================================================================== */
$color = #676a6c;
$color-light = #fff;

$color-disabled = #999;

/* Border Color
 ========================================================================== */
$border-color-default = #e7eaec;
$border-color-default-hover = #d2d2d2;

$border-color-primary = $primary;
$border-color-primary-hover = $primary-hover;

$border-color-success = $success;
$border-color-success-hover = $success-hover;

$border-color-info = $info;
$border-color-info-hover = $info-hover;

$border-color-warning = $warning;
$border-color-warning-hover = $warning-hover;

$border-color-danger = $danger;
$border-color-danger-hover = $danger-hover;

$border-color-undo = $undo;
$border-color-undo-hover = $undo-hover;

$border-color-disabled = $disabled;

/* Shadow Color
 ========================================================================== */
$shadow-color = rgba(0, 0, 0, 0.125);

/* ==========================================================================
   Placeholders
   ========================================================================== */

/* Button
 ========================================================================== */
$button {
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all 0.5s;

  &:hover { cursor: pointer; }

  &.active,
  &:active {
    box-shadow: inset 0 3px 5px $shadow-color;
  }

  &:disabled {
    background: $disabled;
    border-color: $border-color-disabled;
    color: $color-disabled;
    cursor: not-allowed;

    &:hover,
    &:active,
    &.active,
    &.outline {
      background: $disabled;
      border-color: $border-color-disabled;
      color: $color-disabled;
    }

    &:active { box-shadow: none; }
  }
}

/* Default Color
 ========================================================================== */
$colorText {
  color: $color;

  path { fill: $color; }
}

/* Light Color
 ========================================================================== */
$colorText-light {
  color: $color-light;

  path { fill: $color-light; }
}

/* ==========================================================================
   Button Component
   ========================================================================== */

/* Default
 ========================================================================== */
.default {
  @extend $button;
  @extend $colorText;

  background: $default;
  border-color: $border-color-default;

  &.outline {
    background: none;
  }

  &:hover {
    background-color: $default-hover;
    border-color: $border-color-default-hover;
  }
}

/* Primary
 ========================================================================== */
.primary {
  @extend $button;
  @extend $colorText-light;

  background: $teste;
  border-color: $border-color-primary;

  &.outline {
    background: none;
    color: $primary;

    path { fill: $primary; }
  }

  &:hover {
    background-color: $primary-hover;
    border-color: $border-color-primary-hover;
    // replace outline
    color: $color-light;
    path { fill: $color-light; }
  }
}

/* Success
 ========================================================================== */
.success {
  @extend $button;
  @extend $colorText-light;

  background: $success;
  border-color: $border-color-success;

  &.outline {
    background: none;
    color: $success;

    path { fill: $success; }
  }

  &:hover {
    background-color: $success-hover;
    border-color: $border-color-success-hover;
    // replace outline
    color: $color-light;
    path { fill: $color-light; }
  }
}

/* Info
 ========================================================================== */
.info {
  @extend $button;
  @extend $colorText-light;

  background: $info;
  border-color: $border-color-info;

  &.outline {
    background: none;
    color: $info;

    path { fill: $info; }
  }

  &:hover {
    background-color: $info-hover;
    border-color: $border-color-info-hover;
    // replace outline
    color: $color-light;
    path { fill: $color-light; }
  }
}

/* Warning
 ========================================================================== */
.warning {
  @extend $button;
  @extend $colorText-light;

  background: $warning;
  border-color: $border-color-warning;

  &.outline {
    background: none;
    color: $warning;

    path { fill: $warning; }
  }

  &:hover {
    background-color: $warning-hover;
    border-color: $border-color-warning-hover;
    // replace outline
    color: $color-light;
    path { fill: $color-light; }
  }
}

/* Danger
 ========================================================================== */
.danger {
  @extend $button;
  @extend $colorText-light;

  background: $danger;
  border-color: $border-color-danger;

  &.outline {
    background: none;
    color: $danger;

    path { fill: $danger; }
  }

  &:hover {
    background-color: $danger-hover;
    border-color: $border-color-danger-hover;
    // replace outline
    color: $color-light;
    path { fill: $color-light; }
  }
}

/* Undo
 ========================================================================== */
.undo {
  @extend $button;
  @extend $colorText-light;

  background: $undo;
  border-color: $border-color-undo;

  &.outline {
    background: none;
    color: $undo;

    path { fill: $undo; }
  }

  &:hover {
    background-color: $undo-hover;
    border-color: $border-color-undo-hover;
    // replace outline
    color: $color-light;
    path { fill: $color-light; }
  }
}

/* None
 ========================================================================== */
.transparent {
  @extend $button;

  background: none;
  border: 0;

  &.outline {
    background: none;
  }

  &:hover {
    background: none;
  }
}

/* Sizes
 ========================================================================== */
.mini {
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
}

.small {
  font-size: 13px;
  line-height: 1.5;
  padding: 6px 10px;
}

.medium {
  font-size: 14px;
  line-height: 1.42857143;
  padding: 10px 15px;
}

.large {
  font-size: 18px;
  line-height: 1.3333333;
  padding: 15px 42px;
}

.none {
  font-size: 18px;
  line-height: 1;
  padding: 0;
}

/* Block
 ========================================================================== */
.block {
  display: block;
  width: 100%;
}

/* Rounded
 ========================================================================== */
.rounded {
  border-radius: 50px;
}

/* Circle
 ========================================================================== */
.circle {
  border-radius: 50%;
  line-height: 0;

  &.mini {
    min-height: 22px;
    min-width: 22px;
    padding: 0;
  }

  &.small {
    min-height: 28px;
    min-width: 28px;
    padding: 3px;
  }

  &.medium {
    min-height: 34px;
    min-width: 34px;
    padding: 6px;
  }

  &.large {
    min-height: 42px;
    min-width: 42px;
    padding: 10px;
  }
}

/* Loading
 ========================================================================== */
.loading {
  font-size: 0;

  &:after {
    content: "Carregando......";
    display: inline-block;
    font-size: 14px;
  }

  svg { display: none; }
}
