/* ==========================================================================
   Variables
   ========================================================================== */

/* Color
========================================================================== */
$placeholder-background-color = #eee;
$placeholder-background-color-secundary = #e7e7e7;

/* ==========================================================================
   Animations
   ========================================================================== */
@keyframes placeHolderShimmer {
  from { background-position: -468px 0; }
  to { background-position: 468px 0; }
}

/* ==========================================================================
   Placeholders
   ========================================================================== */
$effect {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $placeholder-background-color-secundary;
  background: linear-gradient(to right, $placeholder-background-color 5%, $placeholder-background-color-secundary 15%, $placeholder-background-color 50%);
  background-size: 916px 1px;
}

/* ==========================================================================
   Placeholder Component
   ========================================================================== */
.text {
  @extend $effect;

  height: 1em;
  position: relative;
  width: 100%;
}

.rect {
  @extend $effect;

  height: 100%;
  margin-right: 10px;
  width: 100%;
}

.round {
  @extend $effect;

  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.media { display: flex; }

.media-round {
  margin-right: 10px;
  min-height: 55px;
  min-width: 55px;
  width: 55px;
}

.textBlock {
  width: 100%;
}
