/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* Color
========================================================================== */

/* ==========================================================================
   Placeholders
========================================================================== */
$social-ico {
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
}

$default {
  &__tag {}
  &__img {}
  &__social {}

  &__copy {
    margin-right: 5px;
  }

  &__facebook {
    @extend $social-ico;
    fill: $facebook;
  }

  &__twitter {
    @extend $social-ico;
    fill: $twitter;
  }
}

/* ==========================================================================
   Produto Component
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;

  &__name {
    font-size: $base-font-size-px;
  }
  &__price {}
  &__valid {}
}

/* Card
 ================ */

 .card {
  @extend $default;

  &__name {}
  &__price {}
}
