/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* Color
========================================================================== */

/* ==========================================================================
   Placeholders
========================================================================== */
$default {
  &__tag {}
  &__img {}
  &__social {}
}

/* ==========================================================================
   Produto Component
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;

  &__name {}
  &__price {}
  &__valid {}
}

/* Card
 ================ */

 .card {
  @extend $default;

  &__name {}
  &__price {}
}
