/* ==========================================================================
   Variables
========================================================================== */


/* ==========================================================================
   Placeholders
========================================================================== */

/* ==========================================================================
   Error Elements
========================================================================== */

/* ==========================================================================
   Error Props
========================================================================== */

/* Default
 ================ */

.wrap {
  padding: 15px 0;

  &.isOutline {
    border: 1px solid $c-secondary;
    border-radius: 2px;
    display: inline-block;
    padding: 15px;
  }
}

.title {
  color: $c-text;
  font-size: 15px;
  margin: 0;
}

.btn {
  margin-top: 10px;
}
