.container {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px
}

.title {
  padding: 8px;
}

.component {
  padding: 8px
}

.columnTable {
  padding: 10px 0px;
}

.dragglableBody {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
  flex: 1;
  max-height: 34px;
}
