@import "../../styl/config";

/* ==========================================================================
   Placeholders
   ========================================================================== */
$list-spacing {
  margin-bottom: 10px;
  padding-left: 40px;
}

/* ==========================================================================
   Colors
   ========================================================================== */
$list-border-color = #e5e6e7;
$list-even-color = #fff;
$list-odd-color = #f5f5f5;

/* ==========================================================================
   list
   ========================================================================== */
.list,
.list-item {
  x-clearfix();
}

.bordered {
  border: 1px solid $list-border-color;
  border-radius: 4px;
  padding: 0;

  .list-item {
    border-top: 1px solid $list-border-color;
    padding: 10px 15px;

    &:first-child {
      border: 0;
    }
  }
}

.decimal {
  @extend $list-spacing;

  list-style-type: decimal;
}

.circle {
  @extend $list-spacing;

  list-style-type: circle;
}

.disc {
  @extend $list-spacing;

  list-style-type: disc;
}

.unstyled {
  @extend $list-spacing;

  list-style: none;
}

.zebra {
  .list-item {
    &:nth-child(odd) {
      background: $list-odd-color;
    }

    &:nth-child(even) {
      background: $list-even-color;
    }
  }
}
