/* ==========================================================================
   Variables
========================================================================== */
.titleWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.isMobile {
    flex-direction: column;
  }
}

.title {
  color: $c-text-dark;
  font-family: $base-font-family;
  font-size: 21px;
  line-height: 1.1;
}
