/* ==========================================================================
   Variables
========================================================================== */


.titleWrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  color: $c-text-dark;
  font-family: $base-font-family;
  font-size: 21px;
  line-height: 1.1;
}


