@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons);
:root {
/* Base Colors */
  --c-primary: #00b8ad;
  --c-primary-light: #1bfff1;
  --c-primary-dark: #008179;
  --c-primary-dark-hover: #006e68;
  --c-secondary: #dcdcdc;
  --c-secondary-light: #e7e7e7;
  --c-secondary-medium: #bbb;
  --c-secondary-dark: #9a9a9a;
  --c-support: #2c3b4d;
  --c-support-light: #48617f;
  --c-support-dark: #1a293c;
/* Forms */
  --c-active-input: #00b8ad;
  --c-back-disabled: #eee;
  --c-text-disabled: #999;
/* Feedback */
  --c-feedback-success: #00b8ad;
  --c-feedback-error: #de4e4e;
/* Other */
  --c-menu-text: #3f5d79;
  --c-beacon-color: #de4e4e;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
td,
th {
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: "";
}
q:before,
q:after {
  content: "";
}
img {
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  color: #777;
  font-size: 62.5%;
  line-height: 1.2;
  min-height: 100%;
}
body {
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
fieldset {
  border: 0;
}
[disabled] {
  cursor: not-allowed;
}
svg {
  transform: translate(0, 0);
}
strong {
  font-weight: bold;
}
i {
  font-style: italic;
}
p {
  margin: 0 0 10px;
}
ol,
ul {
  margin-bottom: 10px;
  margin-top: 0;
}
a {
  color: #00b8ad;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #777;
  font-size: 65%;
  font-weight: 400;
  line-height: 1;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
  font-weight: 600;
  margin-top: 5px;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: var(--c-primary);
  border-color: var(--c-primary);
}
.CalendarDay__selected_span {
  background: var(--c-primary-light);
  border-color: var(--c-primary-light);
  color: var(--c-primary-dark);
}
.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  background: var(--c-secondary-light);
  border-color: var(--c-secondary-light);
  color: #777;
}


/*# sourceMappingURL=storybook.css.map*/