// Afl Theme

// Base Colors
$c-primary = #00B8AD;
$c-primary-dark = #03A197;
$c-secondary = #DCDCDC;

$c-support = #2C3B4D;
$c-support-dark = #1A293C;
$c-support-light = #E6EAEC;

// Text Colors
$c-text = #777;
$c-text-dark = #212529;

// Gray Tones
$white = #fff;
$c-gray-1 = #a9a9a9;
$black = #000;

// High-level base settings.
$base-font-size = 62.5%;
$base-font-family = 'Roboto', sans-serif
$base-font-size-px = 14px;
$base-title-size-px = 16px;
$base-line-height = 1.2;

$base-text-color = #777;
$base-link-color = $c-primary;
$base-background-color = #fff;

// othet colors
$c-twitter = #00D0EE;
$c-facebook = #1B4F94;
$c-acom = #EE0020;
$c-suba = #00ADEB;
$c-shop = #FF9966;

$drop-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}

