// High-level base settings.
$base-font-size = 62.5%;
$base-font-family = Helvetica, Arial, sans-serif;
$base-font-size-px = 13px;
$base-line-height = 1.2;
$base-text-color = #676a6c;
$base-link-color = #1ab394;
$base-background-color = #f3f3f4;
