// $gutter-width = 1rem;
// $outer-margin = 2rem;
// $gutter-compensation = ($gutter-width * 0.5) * -1;
// $half-gutter-width = $gutter-width * 0.5;
// $xs-min = 30em;
// $sm-min = 48em;
// $md-min = 64em;
// $lg-min = 75em;
// $screen-xs-min = $xs-min;
// $screen-sm-min = $sm-min;
// $screen-md-min= $md-min;
// $screen-lg-min = $lg-min;
// $container-sm = $sm-min + $gutter-width;
// $container-md = $md-min + $gutter-width;
// $container-lg = $lg-min + $gutter-width;

// $sm-viewport = 48em;
// $md-viewport = 64em;
// $lg-viewport = 75em;

// .container-fluid, .container {
//   margin-right: auto;
//   margin-left: auto;
// }

// .container-fluid {
//   padding-right: $outer-margin;
//   padding-left: $outer-margin;
// }

// .row {
//   box-sizing: border-box;
//   display: flex;
//   flex: 0 1 auto;
//   flex-direction: row;
//   margin-right: $gutter-compensation;
//   margin-left: $gutter-compensation;
// }

// .row.reverse {
//   flex-direction: row-reverse;
// }

// .col.reverse {
//   flex-direction: column-reverse;
// }

// @media only screen and (min-width: $sm-viewport) {}
// @media only screen and (min-width: $md-viewport) {}
// @media only screen and (min-width: $lg-viewport) {}
