/* ==========================================================================
   Variables
========================================================================== */


/* ==========================================================================
   Placeholders
========================================================================== */

/* ==========================================================================
   TableFixed Elements
========================================================================== */

/* ==========================================================================
   TableFixed Props
========================================================================== */

/* Default
 ================ */

.wrap {
  display: flex;
  overflow: auto;
}

.wrapMobile {
  display: flex;
}

.table {
  tr {
    height: 60px;
  }
}

.sticky {
  position: sticky;
  z-index: 3;
  left: 0;
  @media (max-width: 767px) {
    left: initial
  }
  table {
    background: white;
    tbody {
      box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.17);
    }
  }
}
