/* ==========================================================================
   Variables
========================================================================== */


/* ==========================================================================
   Placeholders
========================================================================== */

/* ==========================================================================
   TableFixed Elements
========================================================================== */

/* ==========================================================================
   TableFixed Props
========================================================================== */

/* Default
 ================ */

.shortWrap {
  overflow: auto;
}

.fullWrap  {
  display: flex;
}

.table {
  tr {
    height: 60px;
  }
}

.stickShort {
  left: initial;
  z-index: 0;
}

.stickFull {
  z-index: 3;
  left: 0;
}

.sticky {
  position: sticky;
  // z-index: 3;
  // left: 0;
  table {
    background: white;
    tbody {
      box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.17);
    }
  }
}
