/* ==========================================================================
   Variables
========================================================================== */
/* ==========================================================================
   Placeholders
========================================================================== */
/* ==========================================================================
   TableFixed Elements
========================================================================== */
/* ==========================================================================
   TableFixed Props
========================================================================== */
/* Default
================ */
.shortWrap {
  overflow: auto;
}

.fullWrap {
  display: flex;
}

.fullWidth {
  flex: 1;
}

.stickShort {
  left: initial;
  z-index: 0;
}

.stickFull {
  left: 0;
  z-index: 3;
}

.sticky {
  position: sticky;

  table {
    background: white;

    tbody {
      box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.17);
    }
  }
}
