/* ==========================================================================
   Variables
========================================================================== */


$foterSpacing = 5%;

/* ==========================================================================
   Placeholders
========================================================================== */
$footerSection {
  margin-right: $foterSpacing;

  &:last-child {
    margin-right: 0;
  }
}

$pagerIcon {
  color: $c-text;

  &.isDisabled {
    color: darken($c-support-light, 5%);
  }
}

/* ==========================================================================
   TablePanel Elements
========================================================================== */
.holdPager {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.holdPagerMobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
}

.nav {
  @extend $footerSection;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  &.isMobile {
    margin: 0;
    width: 100%;
  }
}

.perpage {
  @extend $footerSection;
  align-items: center;
  display: flex;

  &.isMobile {
    margin: 0;
    margin-bottom: 10px;
    justify-content: center;
    width: 100%;
  }
}

.showing {
  @extend $footerSection;

  &.isMobile {
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.pager {
  @extend $pagerIcon;
}

.pagerLeft {
  @extend $pagerIcon;
  margin-right: 15px;
}

.pagesWrap {
  display: flex;
  margin-right: 15px;
  text-align: center;
}

.select {
  color: $c-text;
  font-size: 14px;
  width: 150px;
}

.pagesWrap {
  display: flex;
  margin-right: 15px;
  text-align: center;
}

.number {
  color: $c-text;
  display: block;
  font-size: 14px;
  margin-right: 7px;

  &:hover,
  &.isActive {
    text-decoration: underline;
  }

  &:last-child {
    margin: 0;
  }
}
