/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$menu {
  @extend $drop-shadow;
  background: $white;
  left: 0;
  list-style: none;
  margin: 0;
  opacity: 0;
  padding: 8px 0;
  transform: scaleY(0);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* ==========================================================================
   Select Elements
========================================================================== */

/* ==========================================================================
   Select Props
========================================================================== */

/* Default
 ================ */

.selectWrap {
  position: relative;
}

.button {
  cursor: pointer;
  display: block;
  position: relative;
}

.arrow {
  fill: $c-text;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1;
}

.input {
  padding-right: 15px;
}

.menu {
  @extend $menu;

  &.isBottom {
    bottom: 0;
    top: inherit;
  }

  &.isOpen {
    transform: scaleY(1);
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

.option {
  align-items: center;
  color: $c-text;
  cursor: pointer;
  display: flex;
  fill: $c-text;
  padding: 10px 16px;

  &:hover {
    background: $c-support-light;
  }

  &.isSelected {
    background: darken($c-support-light, 5%);
  }
}

.optionIcon {
  margin-right: 5px;
}
