/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* ==========================================================================
   Placeholders
========================================================================== */
$options {
  display: none;
}

/* ==========================================================================
   Select Elements
========================================================================== */

/* ==========================================================================
   Select Props
========================================================================== */

/* Default
 ================ */

.menu {
  @extend $options;

  &.isOpen {
    display: block;
  }
}

.option {
  &.isSelected {
    background: #eee;
  }
}
