$background-color = #fff;

$title-background-color = #f7f7f7;

.container {
  background: $background-color;
}

.header {}

.title {
  background: $title-background-color;
  margin-bottom: 10px;
  padding: 10px;
}

.subtitle {
  font-size: 14px;
  padding: 0 10px 10px;
}

.body {
  padding: 10px;
}

.footer {
  padding: 10px;
}
