/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';

/* Color
========================================================================== */

/* ==========================================================================
   Placeholders
========================================================================== */
$defaultPanel {
  @extend $drop-shadow;
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}

/* ==========================================================================
   Panel Component
========================================================================== */

/* Default
 ================ */

.default {
  @extend $defaultPanel;
  padding: 20px 25px;

  .header {
    color: $c-support;
    font-size: 18px;
  }
}

/* Brand
 ================ */

.brand {
  @extend $defaultPanel;

  .header {
    align-items: center;
    display: flex;
    font-size: 0;
    overflow: hidden;
    padding: 15px 0;
    justify-content: center;

    &.acom { background: $c-acom; }
    &.suba { background: $c-suba; }
    &.shop { background: $c-shop; }
  }

  .content {
    padding: 10px;
  }
}
