/* ==========================================================================
   Variables
========================================================================== */
/* ==========================================================================
   Placeholders
========================================================================== */
/* ==========================================================================
   Panel Component
========================================================================== */
$isClosed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

$smSpacing = 15px;
$mdSpacing = 20px;
$lgSpacing = 25px;

/* Default
================ */
.default {
  background: $white;
  border-radius: 2px;
  width: 100%;

  &.shadow {
    @extend $drop-shadow;
  }

  &.line {
    @extend $base-border;
  }

  &.isBrand {
    padding: 0;
  }

  &.noPadding {
    padding: 0;
  }
}

/* Header
================ */

.titleWrap {
  &.isAccordion {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  // the header, without border or accordion, does not need padding bottom
  &.small {
    padding: $smSpacing $smSpacing 0;
  }

  &.medium {
    padding: $mdSpacing $mdSpacing 0;
  }

  &.large {
    padding: $lgSpacing $lgSpacing 0;
  }
}

$headerPaddingBotton {
  &.small {
    padding-bottom: $smSpacing;
  }

  &.medium {
    padding-bottom: $mdSpacing;
  }

  &.large {
    padding-bottom: $lgSpacing;
  }
}

// the header needs padding bottom when the accordion is closed and when the header has border
.titleWrap.isAccordion {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.titleWrap.isClosed {
  @extend $headerPaddingBotton;
}

.titleBorder {
  border-bottom: 1px solid var(--c-secondary);
  @extend $headerPaddingBotton;
}

.title {
  color: var(--c-support);
  font-size: 21px;
}

.arrow {
  margin-left: 10px;
}

/* Body
================ */

.content {
  opacity: 1;
  transition: all 0.3s ease;

  &.small {
    padding: $smSpacing;
  }

  &.medium {
    padding: $mdSpacing;
  }

  &.large {
    padding: $lgSpacing;
  }

  &.isClosed {
    @extend $isClosed;
  }

  &.noPadding {
    padding: 0;
  }
}

/* Footer
================ */
.footer {
  border-top: 1px solid var(--c-secondary);
  display: block;

  &.small {
    padding: $smSpacing;
  }

  &.medium {
    padding: $mdSpacing;
  }

  &.large {
    padding: $lgSpacing;
  }

  &.isClosed {
    @extend $isClosed;
  }
}

