/* ==========================================================================
   Variables
========================================================================== */
$shadow-color = rgba(0, 0, 0, 0.125);
$c-border = #e8e8e8;

arrow(color, borderWidth) {
  border-color: color transparent;
  border-style: solid;
  border-width: borderWidth;
  content: '';
  display: block;
  position: absolute;
}

/* ==========================================================================
   Placeholders
========================================================================== */
$default {
}

/* ==========================================================================
   TooltipSticky Elements
========================================================================== */
/* ==========================================================================
   TooltipSticky Props
========================================================================== */
/* Default
================ */
.default {
  @extend $default;
}

.tooltip {
  @extend $drop-shadow;
  background: $white;
  border: 1px solid $c-border;
  border-radius: 2px;
  float: left;
  font-size: 1rem;
  line-height: 20px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  width: 357px;
  word-wrap: break-word;
  z-index: 10;
}

.wrapper {
  cursor: pointer;
}

.show {
  opacity: 1;
  transition: 1s opacity;
}

.title {
  color: $color-green-1;
  padding-bottom: 15px;
}

.body {
  font-weight: normal;
  white-space: pre-line;
  word-break: break-word;
}

.title, .body {
  font-size: 1.3rem;
  margin: 0;
}

.left {
  &:after, &:before {
    left: 20px;
  }
}

.right {
  &:after, &:before {
    right: 20px;
  }
}

.bottom {
  &:after {
    arrow(#fff, 0 10px 10px);
    top: -10px;
  }

  &:before {
    arrow($c-border, 0 10px 10px);
    top: -11px;
  }
}

.top {
  &:after {
    arrow(#fff, 10px 10px 0);
    bottom: -10px;
  }

  &:before {
    arrow($c-border, 10px 10px 0);
    bottom: -11px;
  }
}
