/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';
$shadow-color = rgba(0, 0, 0, 0.125);
$c-back-disabled = #eee;

/* ==========================================================================
   Placeholders
========================================================================== */
$button {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-family: $base-font-family;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;

  &:focus {
    outline: 0;
  }

  &:disabled,
  &:disabled:hover {
    background: $c-back-disabled;
    color: lighten($c-text, 25%);
    cursor: inherit;
  }
}

/* Primary
 ================ */
.primary {
  @extend $button;
  background: $c-primary;
  color: $white;

  path {
    fill: $white;
  }

  &:active {
    box-shadow: inset 0 3px 5px $shadow-color;
  }

  &:hover,
  &.isActive {
    background: $c-primary-dark;
  }
}

/* Dark
================ */

.secondary {
  @extend $button;
  background: $c-primary-dark;
  color: $white;

  path {
    fill: $white;
  }

  &:active {
    box-shadow: inset 0 3px 5px $shadow-color;
  }

  &:hover,
  &.isActive {
    background: darken($c-primary-dark, 5%);
  }
}

/* Clean
================ */
.clean {
  @extend $button;
  background: none;
  color: $c-primary;
  fill: $c-primary;
  padding: 5px 7px;

  &:hover {
    opacity: 0.8;
  }
}

/* None
================ */
.transparent {
  @extend $button;

  background: none;
  border: 0;

  &.outline {
    background: none;
  }

  &:hover {
    background: none;
  }
}

/* SIZES
 ==================================================== */

/* Small
================ */
.small {
  padding: 4px 10px;
}

/* Medium
================ */
.medium {
  padding: 7px 20px;
}

/* Large
================ */

/* None
================ */
.none {
  line-height: 1;
  padding: 0;
}
