/* ==========================================================================
   Variables
========================================================================== */
//
$shadow-color = rgba(0, 0, 0, 0.125);
$c-back-disabled = #eee;

/* ==========================================================================
   Placeholders
========================================================================== */
$button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-flex;
  font-family: $base-font-family;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  justify-content: center;

  &:focus {
    outline: 0;
  }

  &:disabled:not(.isLoading),
  &:disabled:hover:not(.isLoading) {
    background: $c-back-disabled;
    border: 0;
    color: lighten($c-text, 25%);
    cursor: not-allowed;
  }
}

/* Primary
 ================ */
.primary {
  @extend $button;
  background: $c-primary;
  color: $white;

  &:active {
    box-shadow: inset 0 3px 5px $shadow-color;
  }

  &:hover,
  &.isActive {
    background: $c-primary-dark;
    color: $white;
  }
}

.primary.outline {
  background: none;
  border: 1px solid $c-primary;
  color: $c-primary;

  &:hover,
  &.isActive {
    background: $c-primary;
    color: $white;
  }
}

/* Dark
================ */
.secondary {
  @extend $button;
  background: $c-primary-dark;
  color: $white;

  &:active {
    box-shadow: inset 0 3px 5px $shadow-color;
  }

  &:hover,
  &.isActive {
    background: darken($c-primary-dark, 5%);
  }
}

.variant {
  @extend $button;
  background: $c-gray-1;
  color: $white;

  &:active {
    box-shadow: inset 0 3px 5px $shadow-color;
  }

  &:hover,
  &.isActive {
    background: darken($c-gray-1, 5%);
    color: $white;
  }
}

.variant.outline {
  background: none;
  border: 1px solid $c-gray-1;
  color: $c-text;

  &:hover,
  &.isActive {
    background: $c-gray-1;
    color: $white;
  }
}

/* Clean
================ */
.clean {
  @extend $button;
  background: none;
  color: $c-primary;
  padding: 5px 7px;

  &:hover {
    text-decoration: underline;
  }

  &.inverted {
    color: $white;
  }
}

/* None
================ */
.transparent {
  @extend $button;
  background: none;
  border: 0;

  &.outline,
  &:hover,
  &:disabled,
  &:disabled:not(.isLoading)
  &:hover:disabled,
  &:hover:disabled:not(.isLoading) {
    background: none;
  }
}

/* SIZES
 ==================================================== */

/* Small
================ */
.small {
  font-size: 13px;
  padding: 4px 10px;
}

/* Medium
================ */
.medium {
  font-size: 14px;
  padding: 7px 20px;
}

/* Large
================ */
.large {
  font-size: 15px;
  padding: 8px 25px;
}

/* None
================ */
.none {
  line-height: 1;
  padding: 0;
}

/* Block
 ========================================================================== */
.block {
  display: block;
  width: 100%;
}

.btnLoad {
  margin-left: 7px;
}

.iconLeft {
  margin-right: 5px;
}

.iconRight {
  margin-left: 5px;
}
