/* ==========================================================================
   Variables
========================================================================== */
.tag {
  display: inline-flex;
  align-items: center;
  min-height: 32px
  border-radius: 16px;
  font-size: 14px;
  padding: 0 12px;

  >.icon {
    display: relative;
    margin-left: 8px;
    border-radius: 100%
    cursor: pointer;
    opacity: .4;
    color: rgba(0, 0, 0, .87);

    &:hover {
      opacity: .54;
    }
  }
}

/* Primary
 ================ */
.primary {
  background: $c-primary;
  color: $white;
}

/* Secondary
 ================ */
.secondary {
  background: $c-secondary;
  color: $white;
}
