/* ==========================================================================
   Variables
   ========================================================================== */

/* Color
========================================================================== */
$tag-background-color = #1ab394;
$tag-color = #fff;

/* ==========================================================================
   Tag Component
   ========================================================================== */
.tag {
  background-color: $tag-background-color;
  border-radius: 0.25em;
  color: $tag-color;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
  padding: 3px 8px;
  text-align: center;
  text-shadow: none;
  vertical-align: baseline;
  white-space: nowrap;
}

.tag-close {
  margin-left: 10px;

  [class*="button"] {
    background: none;
    border: 0;
    font-size: 14px;
    line-height: 1;
    outline: none;
    padding: 0;
  }

  svg {
    path {
      fill: $tag-color;
    }
  }
}
