/* ==========================================================================
   Variables
========================================================================== */
.tag {
  border-radius: 5px;
  display: inline-block;
  line-height: 18px;
  padding: 8px 15px;

  >.icon {
    margin-left: 8px;
  }
}

/* Primary
 ================ */
.primary {
  background: $c-primary;
  color: $white;
}

/* Secondary
 ================ */
.secondary {
  background: $c-secondary;
  color: $white;
}

/* Closable
 ================ */
.fixed {
  >.icon {
    margin-left: 0;
  }
}
