
//Especificações
//Altura (height): 4px;
//Comprimento (width): 100%;
//É importante que o preenchimento da barra tenha animação!



/* ==========================================================================
   Variables
========================================================================== */


/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   ProgressBar Elements
========================================================================== */

/* ==========================================================================
   ProgressBar Props
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}

