/* ==========================================================================
   Variables
========================================================================== */

$c-background-bar = #DCDCDC;

/* ==========================================================================
   ProgressBar Elements
========================================================================== */

.progressWrap {
  width: 100%;
  height: 4px;
  background-color: $c-background-bar;
}

.progressBar {
  display: block;
  height: 4px;
  transition: width 0.8s ease-in-out;
}

/* ==========================================================================
   ProgressBar Props
========================================================================== */

.primary {
  background-color: $c-primary;
}

.support {
  background-color: $c-support;
}

.error {
  background-color: $c-error;
}

.warning {
  background-color: $c-warning;
}

.success {
  background-color: $c-success;
}
