/* ==========================================================================
   Variables
========================================================================== */

$c-shadow = rgba(0, 0, 0, 0.15);
$c-text = #a4a3a3;


/* Default
 ================ */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--c-support-dark);
  transition: width 0.3s ease;
  position: relative;
  width: 290px;
  height: 100%;

  &.isFixed {
    height: 100%;
    position: fixed;
    top: 0;
  }

  &.isMobile {
    left: -290px;
    max-width: 290px;
    transition: left 0.3s ease;
    width: 80%;
    z-index: $z-upmax;
  }

  &.isMobile.isMobileOpen {
    left: 0;
  }
}

.logotype {
	align-items: center;
  box-shadow: 0 1px 4px 0 $c-shadow;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 74px;
  justify-content: center;
  overflow: hidden;
}

.content {
  padding-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.contentTitle {
  color: var(--c-menu-text);
  display: block;
  font-size: 13px;
  margin-bottom: 12px;
  padding-left: 27px;
  text-transform: uppercase;

  &.isNavClosed {
    padding-left: 12px;
  }
}

.toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 30px;
  outline: 0;
  padding: 0;
  position: absolute;
  right: -50px;
  text-align: right;
  top: 22px;
  width: 50px;
}

.toggleIcon { color: $white; }

.closed { width: 60px; }

.overlay {
  background: $black;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
  visibility: hidden;
  width: 100%;
  z-index: $z-upmin;

  &.isOpen {
    opacity: 0.6;
    transition: all 0.5s ease;
    visibility: visible;
  }
}

/* ==========================================================================
   MENU
========================================================================== */

.accordeonListItem {
  color: $white;

  &:hover, &.isActive {
    background: var(--c-support);
    border-left-color: var(--c-primary-dark);
  }

  .iconLeft {
    color: $white;
    margin-right: 22px;
  }

  &.isClosed {
    transition: width 0.1s ease;
  }

  // &.isActive.isClosed {
  //   transition: width 0.3s ease-in-out;
  //   width: 290px;
  // }
}

.listItem {
  border-left: 2px solid transparent;
  color: $white;
  padding: 15px 26px 15px 24px;
  transition: font-size 0.3s ease;
  cursor: pointer;

  &:hover, &.isActive {
    background: var(--c-support);
    border-left-color: var(--c-primary-dark);
  }

  .iconLeft {
    color: $white;
    margin-right: 22px;
  }

  &.isClosed {
    transition: width 0.1s ease;
    font-size: 0;
    padding: 15px 10px;
  }
}

.nestedMenu {
  padding: 0;
  padding-bottom: 10px;
}

.nestedItem {
  color: $c-text;
  padding: 10px 26px 10px 64px;
  cursor: pointer;
  transition: font-size 0.1s ease;
  font-size: 0;

  &.isActive {
    color: $white;
  }

  &:hover {
    color: $white;
  }

  &.sectionActive {
    font-size: 14px;
  }

  &.isClosed:not(.sectionActive) {
    transition: width 0.1s ease;
    font-size: 0;
    width: 100%;
  }
}

