/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';
$c-shadow = rgba(0, 0, 0, 0.15);
$c-menu-text = #3F5D79;


/* Default
 ================ */
.sidebar {
  background-color: $c-support-dark;
  height: 100%;
  position: fixed;
  top: 0;
  transition: width 0.3s ease;
  width: 290px;

  &.isMobile {
    left: -290px;
    max-width: 290px;
    transition: left 0.3s ease;
    width: 80%;
  }

  &.isMobile.isMobileOpen {
    left: 0;
    z-index: $z-upmax;
  }
}

.logotype {
	align-items: center;
  box-shadow: 0 1px 4px 0 $c-shadow;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 74px;
  justify-content: center;
  overflow: hidden;
}

.content { padding-top: 20px; }

.contentTitle {
  color: $c-menu-text;
  display: block;
  font-size: 13px;
  margin-bottom: 12px;
  padding-left: 27px;
  text-transform: uppercase;

  &.isNavClosed {
    padding-left: 12px;
  }
}

.toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 30px;
  outline: 0;
  padding: 0;
  position: absolute;
  right: -50px;
  text-align: right;
  top: 22px;
  width: 50px;
}

.toggleIcon { color: $white; }

.closed { width: 60px; }

.overlay {
  background: $black;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
  visibility: hidden;
  width: 100%;
  z-index: $z-upmin;

  &.isOpen {
    opacity: 0.6;
    transition: all 0.5s ease;
    visibility: visible;
  }
}
