/* ==========================================================================
   Variables
========================================================================== */
@import '../../styl/00-settings/_variables.styl';
$c-shadow = rgba(0, 0, 0, 0.15);
$c-menu-text = #3F5D79;


/* Default
 ================ */
.sidebar {
  background-color: $c-support-dark;
  height: 100%;
  position: fixed;
  top: 0;
  transition: width 0.3s ease;
  width: 290px;
}

.logotype {
	align-items: center;
  box-shadow: 0 1px 4px 0 $c-shadow;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 74px;
  justify-content: center;
  overflow: hidden;
}

.content { padding-top: 20px; }

.contentTitle {
  color: $c-menu-text;
  display: block;
  font-size: 13px;
  margin-bottom: 12px;
  padding-left: 27px;
  text-transform: uppercase;

  &.isNavClosed {
    padding-left: 12px;
  }
}

.toggle {
  background-color: $c-primary;
  border: 0;
  cursor: pointer;
  height: 30px;
  outline: 0;
  padding: 0;
  position: absolute;
  right: -50px;
  text-align: right;
  top: 22px;
  width: 50px;
}

.toggleIcon { fill: $white; }

.closed { width: 60px; }
